<h1>Teams#show</h1>
<p>Find me in app/views/teams/show.html.erb</p>

<%= form_with(url: "/teams/#{@team.id}/invite") do %>
  <%= label_tag :username, "Username:" %>
  <%= text_field_tag :username %>
  <%= submit_tag("Invite", class: 'btn btn-primary')%>
<% end %>

<%= @team.name %>
<%= link_to 'Delete', team_path(@team), method: :delete %>
