<h3>Invitations</h3>

<%= current_user.username %>
<% @invitations.each do |invitation| %>

<%= invitation.as_json %>
<%= invitation.team.as_json %>
<%= invitation.member.as_json %>
<%= link_to 'Accept', "/me/#{invitation.id}/accept", method: :put %>
<% end %>